spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jvtassistant
    username: postgres
    password: 123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  application:
    name: "JVT Assistant"
server:
  port: 8080



